<div class="container" style="padding: 40px;">
    <div class="page-header">
        <h4>Books</h4>
    </div>
    <div class="alert alert-info" role="alert" ng-hide="books &amp;&amp; books.length > 0">
        There are no books yet.
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="book in books">
                <div class="thumbnail" style="height: 300px">
                    <img ng-src="./images/actuals/{{book.asin}}.jpg" style="width:150px;height:190px;"
                         alt="{{book.title}}">
                    <div class="caption">
                        <a ng-href="/#/books/{{book.id}}">
                            {{book.title}}
                        </a>
                        <p>{{book.authors}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <input type="file"/>
            </div>
            <div class="col-md-10">
                <uib-pagination class="pull-right" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="9" max-size="maxSize"></uib-pagination>
            </div>
        </div>
    </div>
</div>
